@import "variables";
body {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
   background-color: #e2e2e273;
}

section {
    max-width: 900px;
    margin: 50px auto;
}